#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.bracket-leaf {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 0;

  background-color: lightgray;
}

.input-field {
  display: grid;
  grid-template-rows: (repeat(4));
}

.bracket-render-grid {
  display: grid;
}

.round-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.matchup-container {
  border: 1px solid blue;
  width: 100%;
  margin: 5px;
}

.contestant-container {
  display: flex;
  height: 25px;
  margin: 5px;
}

.contestant-container > div {
  display: flex;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}

.contestant-name {
  width: 80%;
}

.contestant-votes {
  border: 1px solid red;
  width: 20%;
  padding: 2px;
}

.active > div:hover {
  background-color: lightblue;
}

.selected {
  background-color: lightblue;
}

.inactive {
  background-color: lightgray;
}
